{% load static %}
<html>
    <head>
        <title>Sunny's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">Mr Awesome</a>
          </div>

          <ul class="nav navbar-nav">
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
          </ul>

        </nav>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
